# enable SSL communication with DigitalOcean
SSL_CERT_FILE=/path/to/your/ca-bundle.crt

CLOUDN_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CLOUDN_SEC_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

RSYNC_FOLDER_PATH=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

SSH_PEM="~/.ssh/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.pem"
