.git
.vagrant
.env
*.aux
*.bbl
.DS_Store
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*~
*.dvi
*.pdf
external_doc
.arcconfig
